/* General Styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Inconsolata', monospace;
}

/* Greeting Box Styling */
.greeting-box {
  background-color: #0D0D0D;
  color: #f9f8f3; /* Updated font color */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%; /* Stretch to full width */
  min-height: 100vh; /* Stretch box vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
}

/* Greeting Title Styling */
.greeting-title {
  font-family: 'Yeseva One', serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #f9f8f3; /* Updated font color */
}

/* Date and Time Styling */
.greeting-date, .greeting-time {
  font-size: 18px;
  margin: 5px 0;
  font-weight: bold; /* Bold Inconsolata font */
  text-transform: uppercase;
  color: #f9f8f3; /* Updated font color */
}
